<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MID_BCS240027</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MID_BCS240027.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">

                <a class="navbar-brand"
                   asp-controller="Dish"
                   asp-action="Index">
                    MID_BCS240027
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"
                     id="navbarNav">

                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Dish"
                               asp-action="Index">
                                Món ăn
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="DishCategory"
                               asp-action="Index">
                                Loại món ăn
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="DishImage"
                               asp-action="Index">
                                Hình ảnh
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
    </header>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2026 - MID_BCS240027
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>