@model MID_BCS240027.Models.DishCategory_BCS240027

<h2>Thêm loại món ăn</h2>

<form asp-action="Create">

    <div class="mb-3">
        <label>Tên loại</label>
        <input asp-for="Name"
               class="form-control" />
        <span asp-validation-for="Name"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Mô tả</label>
        <textarea asp-for="Description"
                  class="form-control"></textarea>
    </div>

    <button class="btn btn-success">
        Lưu
    </button>

</form>