@model MID_BCS240027.Models.DishCategory_BCS240027

<h2>Chi tiết loại món ăn</h2>

<table class="table">

    <tr>
        <th>Tên loại</th>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <th>Mô tả</th>
        <td>@Model.Description</td>
    </tr>

</table>