@model MID_BCS240027.Models.Dish_BCS240027

<h2>Cập nhật món ăn</h2>

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label>Tên món ăn</label>
        <input asp-for="Name"
               class="form-control" />
        <span asp-validation-for="Name"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Giá</label>
        <input asp-for="Price"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Thời gian chế biến</label>
        <input asp-for="PreparationTime"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Loại món ăn</label>
        <select asp-for="DishCategoryId"
                asp-items="ViewBag.Categories"
                class="form-control">
        </select>
    </div>

    <div class="mb-3">
        <label>Mô tả</label>
        <textarea asp-for="Description"
                  class="form-control">
        </textarea>
    </div>

    <div class="mb-3">
        <input asp-for="IsAvailable" />
        <label>Đang bán</label>
    </div>

    <button class="btn btn-warning">
        Cập nhật
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Quay lại
    </a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}